@mixin button-reset() {
  padding: 0;
  width: auto;
  border: none;
  cursor: pointer;
  outline: none;
}

@mixin backlight($color: color) {
  outline: 5px solid $color;
  outline-offset: -5px;
}

@mixin desktop-width {
  max-width: 1024px;
  margin: 0 auto;
  height: auto;
}

@mixin text-size ($font-size, $line-height, $font-weight) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin bg-retinization ($background-image, $background-image-retina, $background-position, $width, $height ) {
  background-image: $background-image;
  background-repeat: no-repeat;
  background-position: center $background-position;
  background-size: $width, $height;

  @media (min-resolution: 2dppx) {
    background-image: $background-image-retina;
  }
}

@mixin pseudo($width, $height, $left, $bottom) {
  content: "";
  height: $height;
  width: $width;
  content:"";
  position: absolute;
  bottom: $bottom;
  left: $left;
}

@mixin gamburger-parametrs ($width, $height, $background-color) {
  height: $height;
  width: $width;
  background-color: $background-color;
};
